<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/script/simpleTimeline.css" />
                <meta charset="UTF-8">
		<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="/script/resize.js"></script>
		<script src="/script/simpleTimeline.js"></script>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
               	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.34/pdfmake.min.js"></script> 
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.34/vfs_fonts.js"></script> 
	        <link rel="stylesheet" href="/script/style1.css" />
		<link rel="stylesheet" href="/script/styleconnexion.css">
		<link rel="stylesheet" href="/script/style.css" />

		<script>
			function printContent(el){
				var restorepage = document.body.innerHTML;
				var printcontent = document.getElementById(el).innerHTML;
				document.body.innerHTML = printcontent;
				window.print();
				document.body.innerHTML = restorepage;
			}
			function pdfToHTML(el){
				var restorepage = document.body.innerHTML;
    				var docDefinition = { content: document.getElementById(el).innerHTML };
				pdfMake.createPdf(docDefinition).open();
				document.body.innerHTML = restorepage;
}
		</script>
	</head>
	<body>	
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
					<div class="container"> 
					    <div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span> 
						</button>
						<a target="_blank" href="#" class="navbar-brand">Frise chronologique</a>
					    </div>
					    <div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
						     <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Mes frises
							<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<% frises.forEach(function(frise) { %>
							    <li><a href="/frise/<%=frise.id%>"><%=frise.titre%></a></li>
								<% }); %>
							</ul>
						     </li>              
						 </ul>
						<ul class="nav navbar-nav navbar-right">
						    <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							    <span class="glyphicon glyphicon-user"></span> 
							    <strong>Aminata CISSE</strong>
							    <span class="glyphicon glyphicon-chevron-down"></span>
							</a>
							<ul class="dropdown-menu">
							    <li>
								<div class="navbar-login">
								    <div class="row">
									<div class="col-lg-4">
									    <p class="text-center">
										<span class="glyphicon glyphicon-user icon-size"></span>
									    </p>
									</div>
									<div class="col-lg-8">
									    <p class="text-left"><strong>Aminata CISSE</strong></p>
									    <p class="text-left small">amidadocisse@univ-evry.fr</p>
									    
									</div>
								    </div>
								</div>
							    </li>
							    <li class="divider"></li>
							    <li>
								<div class="navbar-login navbar-login-session">
								    <div class="row">
									<div class="col-lg-12">
									    <p>
										<a href="/" class="btn btn-danger btn-block">Se deconnecter</a>
									    </p>
									</div>
								    </div>
								</div>
							    </li>
							</ul>
						    </li>
						</ul>
					    </div>
					</div>
				    </div>		
		<h1>Frise chronologique</h1>
		<div id="frise">	
		<div id="timeline"></div>
		</div>
		</br>
		<button id="imprimer" onclick="printContent('frise')"> Imprimer la frise </button>
		<button id="enregistrer" onclick="javascript:pdfToHTML('frise')"> Enregistrer la frise</button>
                </br></br>
		<ul>
            <li class="hidden selectedElem" id="elemselec">Élément sélectionné : <span id='clicked-item'></span></li>
			<li class="hidden selectedElem"><a href="#" onclick="show_add_description()">Ajouter une description</a></li>
			<li class="hidden selectedElem"><a href="#" onclick="remove_selected_item()">Supprimer l'élément sélectionné</a></li>
			<li><a href="#" onclick="show_add_item()">Ajouter un élément</a></li>
		</ul>
                <div> 
                    <form>
							<table class="table1" style="width:500px; height:100px; margin: auto;"> 
							<tbody>
							<tr class="cacher"> 
                     			<td><label class="hidden addItem">Titre</label></td>
								<td><input class="hidden addItem" type="text" id="itemName"></td><br>
							</tr>
							<tr class="cacher">
								<td><label class="hidden addItem">Année de début</label></td>
								<td> <input class="hidden addItem" type="text" id="startDate"><br></td>
							</tr>
							<tr class="cacher">
								<td><label class="hidden addItem">Année de fin</label></td>	
								<td><input class="hidden addItem" type="text" id="endDate"><br></td>
							</tr>
							<tr>
								<td><label class="hidden description">Description</label></td>
								<td><input class="hidden description" type="text" id="itemText"><br></br></td>
							</tr>
                        </br>
						</tbody>
						</table>
                        <a href="#" onclick="bind_popup()" class="hidden description btn btn-success">Ajouter</a>
                        <a href="#" onclick="hide_add_description()" class="hidden description btn btn-warning">Annuler</a>
                        <a href="#" onclick="add_item()" class="hidden addItem btn btn-success">Ajouter</a>
                        <a href="#" onclick="hide_add_item()" class="hidden addItem btn btn-warning">Annuler</a>
				    </form>
					 
					</br>
                    <form id="save" method="POST">
                        <input id="data" name="data" type="hidden" value="">
                        <input type="submit" value="Sauvegarder la frise">
                    </form>
                </div>
                <br><br>
                <a class="btn btn-info" href="/liste">Retour à la liste des frises</a>
		<script>
			var timeline;
			$(document).ready(timeline_init);
			
                        $("#save").submit(function(){
                         $("#data").val(timeline.getTimelineData());  
                        });
                        
                        
			function timeline_init() {
				var options = {
					phases: [
						{ start: -50000, end: -30000, indicatorsEvery: 20000, share: .2 },
						{ start: -30000, end: -5000, indicatorsEvery: 25000, share: .07, className: 'timeline-unused-phase' },
						{ start: -5000, end: 4000, indicatorsEvery: 1000, share: .73 }
					],
					formatHeader: function (v) {
						if(v < 0) return -v + ' BC';
						if(v > 0) return v + ' AD';
						return 'AD';
					},					
					barHeight: 25,
					fontSize: 16
				};
				
				// note: item 'Lonely' has a popup text attached
				var data = [
                                    <% elements.forEach(function(elem) { %>
                                    [{ id: '<%=elem.titre%>', start:<%=elem.datedebut%>, end: <%=elem.datefin%>, className: '<%=elem.classname%>', popup_html: '<%=elem.description%>'}],
                                    <% }); %>
				];
				
				timeline = $('#timeline');
				timeline.simpleTimeline(options, data);				
				timeline.on('timeline:barclick', timeline_clicked);
			}
				
			function timeline_clicked(e) {
				var clicked_item = $(e.target);
				
				var sel = $('.selected');
				sel.removeClass('selected');
				$('#clicked-item').empty();
				
				if(sel.length == 0 || sel.data('id') != clicked_item.data('id')) {
					clicked_item.addClass('selected');
                                        $('.selectedElem').removeClass('hidden');
					$('#clicked-item').text(" " + clicked_item.data('id'));
				}					
			}
                        function show_add_description() {
							    $('.cacher').addClass("hidden");
							    $('.addItem').addClass("hidden");
                                $('.description').removeClass("hidden");
			}
                        function hide_add_description() {
                                $('.description').addClass("hidden");
			}
                        function show_add_item() {
								$('.description').addClass("hidden");
                                $('.addItem').removeClass("hidden");
			}
                        function hide_add_item() {
                                $('.addItem').addClass("hidden");
			}
                        
			function add_item() {
				var data = timeline.getTimelineData();
				data.push([
					{
						id: document.getElementById("itemName").value, 
						start: document.getElementById("startDate").value,
						end: document.getElementById("endDate").value, 
						className: 'styleA' 
					}
				]);
				timeline.setTimelineData(data).refreshTimeline();
                                $('.addItem').addClass("hidden");
			}
			
			function remove_selected_item() {
				var sel_item_id = $('.selected').data('id');
				var data = timeline.getTimelineData();
				for(var l = 0; l < data.length; l++) {
					for(var i = 0; i < data[l].length; i++) {
						if(data[l][i].id == sel_item_id) {
							data[l].splice(i,1);
							if(data[l].length == 0)
								data.splice(l,1);
							timeline.setTimelineData(data).refreshTimeline();
							return;
						}
					}
				}					
			}
			
			function bind_popup() {
				var sel_item_id = $('.selected').data('id');
				if(typeof sel_item_id == 'undefined') {
					alert('Ain\'t nothin\' selected, yo!');
					return;
				}
				
				timeline.bindPopup(sel_item_id, document.getElementById("itemText").value);
                                hide_add_description();
			}
		</script>
	</body>
	<footer>
	<p>© 2017<a style="color:#0a93a6; text-decoration:none;" href="#"> Frise chronologique  Université d'evry Paris-Saclay</a>, projet Développement de Logiciel Libre.</p>
 	</footer>
</html>